{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
				<span data-toggle="tooltip" title="" data-original-title="{{ help_name_as_title }}">{{ entry_name_as_title }}</span>
			</label>
            <div class="col-sm-10">
				<select name="name_as_title" id="input-name_as_title" class="form-control">
				{% if name_as_title %}
					<option value="1" selected="selected">{{ text_yes }}</option>
					<option value="0">{{ text_no }}</option>
					{% else %}
					<option value="1">{{ text_yes }}</option>
					<option value="0" selected="selected">{{ text_no }}</option>
				{% endif %}
				</select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
              <div id="fpcarousel-product" class="well well-sm" style="height: 150px; overflow: auto;">
                {% for product in products %}
                <div id="fpcarousel-product{{ product.product_id }}"><i class="fa fa-minus-circle"></i> {{ product.name }}
                  <input type="hidden" name="product[]" value="{{ product.product_id }}" />
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-limit">{{ entry_limit }}</label>
            <div class="col-sm-10">
              <input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_itemspage }}</label>
            <div class="col-sm-10">
              <input class="form-control" name="itemspage" value="{{ itemspage }}" size="3" /> 
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
				<span data-toggle="tooltip" title="" data-original-title="{{ help_shuffle_items }}">{{ entry_shuffle_items }}</span>
			</label>
            <div class="col-sm-10">
				<select name="shuffle_items" id="input-shuffle_items" class="form-control">
				{% if shuffle_items %}
					<option value="1" selected="selected">{{ text_yes }}</option>
					<option value="0">{{ text_no }}</option>
					{% else %}
					<option value="1">{{ text_yes }}</option>
					<option value="0" selected="selected">{{ text_no }}</option>
				{% endif %}
				</select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
				<span data-toggle="tooltip" title="" data-original-title="{{ help_auto_play }}">{{ entry_auto_play }}</span>
			</label>
            <div class="col-sm-10">
				<select name="auto_play" id="input-auto_play" class="form-control">
				{% if auto_play %}
					<option value="1" selected="selected">{{ text_yes }}</option>
					<option value="0">{{ text_no }}</option>
					{% else %}
					<option value="1">{{ text_yes }}</option>
					<option value="0" selected="selected">{{ text_no }}</option>
				{% endif %}
				</select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
				<span data-toggle="tooltip" title="" data-original-title="{{ help_pause_on_hover }}">{{ entry_pause_on_hover }}</span>
			</label>
            <div class="col-sm-10">
				<select name="pause_on_hover" id="input-pause_on_hover" class="form-control">
					{% if pause_on_hover %}
					<option value="1" selected="selected">{{ text_yes }}</option>
					<option value="0">{{ text_no }}</option>
					{% else %}
					<option value="1">{{ text_yes }}</option>
					<option value="0" selected="selected">{{ text_no }}</option>
					{% endif %}
				</select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
				<span data-toggle="tooltip" title="" data-original-title="{{ help_show_pagination }}">{{ entry_show_pagination }}</span>
			</label>
            <div class="col-sm-10">
				<select name="show_pagination" id="input-show_pagination" class="form-control">
					{% if show_pagination %}
					<option value="1" selected="selected">{{ text_yes }}</option>
					<option value="0">{{ text_no }}</option>
					{% else %}
					<option value="1">{{ text_yes }}</option>
					<option value="0" selected="selected">{{ text_no }}</option>
					{% endif %}
				</select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
				<span data-toggle="tooltip" title="" data-original-title="{{ help_show_navigation }}">{{ entry_show_navigation }}</span>
			</label>
            <div class="col-sm-10">
				<select name="show_navigation" id="input-show_navigation" class="form-control">
					{% if show_navigation %}
					<option value="1" selected="selected">{{ text_yes }}</option>
					<option value="0">{{ text_no }}</option>
					{% else %}
					<option value="1">{{ text_yes }}</option>
					<option value="0" selected="selected">{{ text_no }}</option>
					{% endif %}
				</select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-thumb_width">{{ entry_thumb_size }}</label>
            <div class="col-sm-5">
              <input type="text" name="thumb_width" value="{{ thumb_width }}" placeholder="{{ entry_thumb_width }}" id="input-thumb_width" class="form-control" />
              {% if error_thumb_width %}
              <div class="text-danger">{{ error_thumb_width }}</div>
              {% endif %}
            </div>
            <div class="col-sm-5">
              <input type="text" name="thumb_height" value="{{ thumb_height }}" placeholder="{{ entry_thumb_height }}" id="input-thumb_height" class="form-control" />
              {% if error_thumb_height %}
              <div class="text-danger">{{ error_thumb_height }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('input[name=\'product_name\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'product_name\']').val('');
		
		$('#fpcarousel-product' + item['value']).remove();
		
		$('#fpcarousel-product').append('<div id="fpcarousel-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');	
	}
});
	
$('#fpcarousel-product').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script></div>
{{ footer }}
